<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="container">
<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="" alt="" width="88" height="40">
                        </a>
            
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
            
                    <div id="navbar-menu" class="navbar-menu is-static">
            
                        <div class="navbar-end">
                            <a href="#features" class="navbar-item is-secondary">
                                Features
                            </a>
                            <a href="#cta" class="navbar-item is-secondary">
                                ChemSort
                            </a>
                            <a href="{{ url_for('contact') }}" class="navbar-item is-secondary">
                                Contact
                            </a>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    Select Language
                                </a>
            
                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                        Portugese
                                    </a>
                                    <a class="navbar-item">
                                        German
                                    </a>
                                    <a class="navbar-item">
                                        English
                                    </a>
                                </div>
                            </div>
                            <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
                                Sign In
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
    <article class="tile notification is-warning">
          <p class="title">Chemical Inventory Sorter</p>
    </article>
    <div>
        <h3>Useful Keyboard Shortcuts</h3>
        <p>(use keyboard shortcuts to select unsorted/sorted text box)</p>
        <p><em>Cntrl-a select-all; Cntrl-c copy selected; Cntrl-v paste clipboard</em></p>
    </div>
<form method="POST">
<table class="table">
    <tr>
    <td>unsorted items</td><td>sorted items</td>
    </tr>
    <tr>
        <td>
            <textarea class="textarea" id="unsorted" name="unsorted_items" rows="20" cols="100">{{ unsorted_items }}</textarea>
        </td>
        <td>
            <textarea class="textarea" id="sorted" name="sorted_items" rows="20" cols="100">{{ sorted_items }}</textarea>
        </td>
    </tr>
    <tr>
        
            <td>
                <div class="buttons">
                    <button name="actionBtn" value="sort" class="button is-primary" type="submit">Sort</button>
                    <button name="actionBtn" value="upload" class="button is-info" type="">Upload</button>
                    <button name="actionBtn" value="clearUnsorted" class="button is-warning" type=""onclick="javascript:eraseSorted();" >Clear</button>
                </div>
            </td>
            <td>
                <div class="buttons">
                    <button name="actionBtn" value="clearSorted" class="button is-warning" type="Clear Sorted">Clear Sorted</button>
                    <button name="localBtn" value="download" class="button is-danger" type="" onclick="javascript:saveTextAsFile();">Download</button>
                </div>
                Filename to save <input id="inputFileNameToSaveAs"></input>
            </td>
        </div>
    </tr>
</table>

</form>
</div>
<script>
function eraseSorted()
   {  
   document.getElementById('unsorted').value = "";
   }
   
function saveTextAsFile()
{
    var textToSave = document.getElementById("sorted").value;
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    var fileNameToSaveAs = document.getElementById("inputFileNameToSaveAs").value;
 
    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.innerHTML = "Download File";
    downloadLink.href = textToSaveAsURL;
    downloadLink.onclick = destroyClickedElement;
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
 
    downloadLink.click();
}
 
function destroyClickedElement(event)
{
    document.body.removeChild(event.target);
}
 
function loadFileAsText()
{
    var fileToLoad = document.getElementById("fileToLoad").files[0];
 
    var fileReader = new FileReader();
    fileReader.onload = function(fileLoadedEvent) 
    {
        var textFromFileLoaded = fileLoadedEvent.target.result;
        document.getElementById("unsorted").value = textFromFileLoaded;
    };
    fileReader.readAsText(fileToLoad, "UTF-8");
}
</script>
</body>
</html>